@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.pet-list {
    @include flexbox(flex, center, center);
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 15rem;
    position: relative;
    bottom: 11rem;
}
