@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';
$bg-color: linear-gradient(90deg, #ffffff, #ffffff);

header {
    background: $bg-color;
    color: $text-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem 3rem;
    h1 {
        text-align: left;
        background-image: url('./logo.png');
        background-repeat: no-repeat;
        background-size: 40px 40px;
        padding: 0.2rem 2.8rem;
        margin: 1rem;
        margin-right: 96rem;
        justify-content: start;
        position: absolute;
        color: $secondary-dark-color;
    }
}
