@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.cards_details {
    @include flexbox(flex, center, center);
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 0rem;
}

.card_details {
    display: inline-block;
    background-color: $secondary-color;
    height: 38rem;
    width: 90rem;
    max-width: 430px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;

    .card_image_details {
        border-radius: 5px 5px 0 0;
        position: relative;
        background-size: cover;
        background-position: center;
        height: 18rem;
    }

    p {
        margin-top: 0.5rem;
        width: 100%;
        height: 1.5rem;
        background-color: $secondary-color;
        color: $secondary-dark-color;
        padding: 0.3rem 1rem;
    }
    h2 {
        color: $secondary-dark-color;
    }
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card_add {
    @include flexbox(flex, center, flex-end);
    img {
        width: 60%;
        opacity: 0.4;
    }
    padding: 2px 16px;
}

.buttons-item_details {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS',
        sans-serif;
    font-size: 1rem;
    margin: 1rem;
    margin-top: 1.5rem;
    padding: 0.4rem;
    background-color: $secondary-dark-color;
    border-style: outset;
    color: beige;
    border: none;
    border-radius: 0.8rem;
    width: 80px;
    text-align: center;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-color: rgb(255, 213, 0);
        color: black;
    }

    &:active {
        background-color: rgb(255, 213, 0);
        color: black;
    }
}

.cards_details_admin {
    @include flexbox(flex, center, center);
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 0rem;
}

.card_details_admin {
    display: inline-block;
    background-color: rgb(251, 242, 172);
    height: 45rem;
    width: 90rem;
    max-width: 450px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 16px;

    .card_image_details_admin {
        border-radius: 5px 5px 0 0;
        position: relative;
        background-size: cover;
        background-position: center;
        height: 18rem;
    }

    p {
        margin-top: 0.5rem;
        width: 100%;
        height: 1.5rem;
        background-color: $secondary-color;
        color: $secondary-dark-color;
        padding: 0.3rem 1rem;
    }
    h2 {
        color: $secondary-dark-color;
    }

    label {
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        width: 90px;
    }

    input[type='text'],
    input[type='file'] {
        width: 70%;
        height: 30px;
        margin: 0.2rem;
    }
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.buttons-item_details_admin {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS',
        sans-serif;
    font-size: 1rem;
    margin: 1rem;
    margin-top: 1.5rem;
    padding: 0.4rem;
    background-color: $secondary-dark-color;
    border-style: outset;
    color: beige;
    border: none;
    border-radius: 0.8rem;
    width: 80px;
    text-align: center;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-color: rgb(255, 213, 0);
        color: black;
    }

    &:active {
        background-color: rgb(255, 213, 0);
        color: black;
    }
}
